<div id="thanks" style=" position:relative; text-align:center; margin-bottom:15px; margin-top:-30px;"><h1 style="font-family: 'macarthur_yachtingregular';">Thank You!</h1>I depend fully on word of mouth for publicity. <br/>If you like what I'm up to please share this link!</div>
<!--<div class="fb-like" style="margin-top:-25px;" data-href="http://www.miekkamacarthur.com" data-send="true" data-layout="button_count" data-height="250" data-width="450" data-show-faces="true" data-action="recommend"></div><br />--!><a class="btn share-btn third-party twitter" href="https://twitter.com/share" target="_blank"><i class="icon twiticon icon-twitter-white-flat"></i><span class="text" data-translate-text="SHARE_ON_TWITTER">Share on Twitter</span></a>
<a class="btn share-btn third-party facebook" data-service="facebook" href="http://www.facebook.com/share.php?u=<http://miekkamacarthur.com" onClick="return fbs_click(400, 300)" target="_blank" title="Share This on Facebook"><i class="icon fbicon icon-facebook-white-flat"></i><span class="text" data-translate-text="SHARE_ON_FACEBOOK">Share on Facebook</span></a>


