    <script type="text/javascript">
        var SlideWidth = 600;
        var SlideSpeed = 250;

        $(document).ready(function () {
            // set the prev and next buttons display
            SetNavigationDisplay();
        });

        function CurrentMargin() {
            // get current margin of slider
            var currentMargin = $("#slider-wrapper").css("margin-left");

            // first page load, margin will be auto, we need to change this to 0
            if (currentMargin == "auto") {
                currentMargin = 0;
            }

            // return the current margin to the function as an integer
            return parseInt(currentMargin);
        }

        function SetNavigationDisplay() {
            // get current margin
            var currentMargin = CurrentMargin();

            // if current margin is at 0, then we are at the beginning, hide previous
            if (currentMargin == 0) {
                $("#PreviousButton").hide();
            }
            else {
                $("#PreviousButton").hide();
            }

            // get wrapper width
            var wrapperWidth = $("#slider-wrapper").width();

            // turn current margin into postive number and calculate if we are at last slide, if so, hide next button
            if ((currentMargin * -1) == (wrapperWidth - SlideWidth)) {
                $("#NextButton").hide();
            }
            else {
                $("#NextButton").show();
            }
        }

        function NextSlide() {
            // get the current margin and subtract the slide width
            var newMargin = CurrentMargin() - SlideWidth;

            // slide the wrapper to the left to show the next panel at the set speed. Then set the nav display on completion of animation.
            $("#slider-wrapper").animate({ marginLeft: newMargin }, SlideSpeed, function () { SetNavigationDisplay() });
        }

        function PreviousSlide() {
            // get the current margin and subtract the slide width
            var newMargin = CurrentMargin() + SlideWidth;

            // slide the wrapper to the right to show the previous panel at the set speed. Then set the nav display on completion of animation.
            $("#slider-wrapper").animate({ marginLeft: newMargin }, SlideSpeed, function () { SetNavigationDisplay() });
        } 
    </script>


<div id="welcome">
	<div class="hero-unit">

<!--- DISPLAY CONTAINER --->
    <div id="container">
        <!-- OUTTER WRAPPER -->
        <div id="slider-wrapper">
            <!-- SLIDE 1 -->
	    <!-- <div id="slide1" class="slide">    
		    <h2 class="serif">--- LAUNCHING SOON --- </h2>
		    <p style="width:75%; margin:auto; text-align:justify; font-size:16px; margin-top:10px; margin-bottom:30px;">
		    The quality of a pair of men's trousers is evident both in the time it takes to produce them, and in the intent behind creating them. Here, we aren't interested in mass production or quick turnaround time. Rather, we hope to adapt and innovate the traditional Italian artisinal process.<br><br>

 For this reason, we do everything ourselves 100% in-house at our studio in Rome; from dyeing our fabrics, to sizing and cutting our patterns, and of course sewing our trousers. It's a tedious process, but one that allows for an end result of true value: a pair of trousers like those from long ago, born from the heart and soul of an artisan.
	<br>	    </p>
		    		 <input href="javascript:void(0)" onclick="NextSlide()" class="btn btn-primary" id="NextButton" style="" type="submit" value="Sounds interesting! Tell me more!">    
</div>  <!-- /slide 1 -->-->
<!-- SLIDE 2 -->
           <!-- <div id="slide2" class="slide">
		    <p style="text-weight:bold; text-align:center"><b><br/>We'll be launching with a beautiful barr&eacute; knit trouser</b></p> <p style="width:75%; margin:auto; text-align:justify; font-size:16px; margin-top:10px; margin-bottom:30px;">Cut to perfection with great attention to fit, our trouser features a high cut waist, tapered legs, and convenient sartorial details for a classic Italian look. <br/> <br/> Seemingly woven, our  93% Cotton / 7% Elastane barr&eacute; fabric is what truly sets our trousers apart from other classic models. Knit using a fiber that differs in diameter throughout its length, the result is unique, comfortable, and very elegant. <br/><br/>
		    We guarantee that you'll never find an elegant Italian handmade men's trouser more comfortable than ours.  
		    </p>          
		    <input href="javascript:void(0)" onclick="NextSlide()" class="btn btn-primary" id="NextButton" style="" type="submit" value="When will I be able to get a pair?">    	    
	    </div> -->
            <!-- SLIDE 3 -->
	    <div id="slide3" class="slide">
		    <p style="text-weight:bold; text-align:center"><b><br/>Welcome <br/> My name is Miekka MacArthur and I do my own bespoke. </b></p>
		    <p style="width:75%; margin:auto; text-align:center; font-size:16px; margin-top:10px; margin-bottom:30px;"><br/> I'm not quite sure yet what the eventual purpose of this website will be, so for now I'll be using it to introduce myself.<br/><br/>I'm an apprentice men's bespoke tailor. I started sewing several years ago on a home sewing-machine in Amsterdam, before moving to Italy where I've been studying more traditional tailoring techniques. I still have a long way to go into the realm of the three piece suit, but I can sew you a lovely bespoke shirt.<br/><br/> I'm currently perfecting my hand-stitching making these shirts for people who come to me.<br/><br/> If you are interested in a quality bespoke shirt, we can help eachother out. Submit your email below and I'll be in touch, or contact me.      </p>

	<div class="email_capture" style="margin-left:auto; margin-right:auto;">	
		<div id="request-invite" class="form-inline">
				<%= render 'email_capture' %>
			</div>
		</div>
                
            </div>
</div>
    </div>
<!--- NAVIGATION BUTTONS
<input href="javascript:void(0)" onclick="PreviousSlide()" class="btn btn-primary" id="PreviousButton" style="font-family: 'macarthur_yachtingregular'; margin-right: 10px;" type="submit" value="Previous">
       --> 
		
</div> <!-- /hero-unit -->
</div> <!-- /welcome -->
